---
import Main from '../layouts/main.astro';
import { Navbar } from '@/components/Navbar';
import { Footer } from '@/components/Footer';
---

<Main title="MiraCode | Innovación en Desarrollo de Software">
    <Navbar client:load />
	<main>

	</main>
    <Footer />
</Main>